<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Error 405</title>
    <link rel="stylesheet" href="/assets/css/error.css">
</head>
<body>
<h1>Error</h1>
<p class="zoom-area"><b>Method Not Allowed</b>.</p>
<p class="zoom-area">Http Status Code: 405. Phương thức yêu cầu của bạn không hợp lệ hoặc không được cho phép tại server</p>
<section class="error-container">
    <span>4</span>
    <span><span class="screen-reader-text">0</span></span>
    <span>5</span>
</section>
<div class="link-container">
    <a href="/cp" class="more-link">Trở về trang chủ</a>
</div>
</body>
<script>
</script>
</html>