<html xmlns:th="http://www.thymeleaf.org" lang="en">


<th:block th:fragment="header-utils">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="" name="description">
    <meta content="" name="author">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto">
</th:block>

<th:block th:fragment="header-logo">
    <link rel="icon" type="image/x-icon" href="/assets/img/logo.png">
</th:block>

<th:block th:fragment="header-perfect-scrollbar">
    <link rel="stylesheet" type="text/css" href="/assets/lib/perfect-scrollbar/css/perfect-scrollbar.css">
</th:block>
<th:block th:fragment="header-material-design">
    <link rel="stylesheet" type="text/css"
          href="/assets/lib/material-design-icons/css/material-design-iconic-font.min.css">
</th:block>

<th:block th:fragment="header-datatables-net-bs4">
<link rel="stylesheet" type="text/css" href="/assets/lib/datatables/datatables.net-bs4/css/dataTables.bootstrap4.css">
</th:block>

<th:block th:fragment="header-datatables-net-responsive-bs4">
    <link rel="stylesheet" type="text/css"
          href="/assets/lib/datatables/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css">
</th:block>

<th:block th:fragment="header-app-css">
    <link rel="stylesheet" href="/assets/css/app.css" type="text/css">
</th:block>

<th:block th:fragment="header-app-style">
    <link rel="stylesheet" href="/assets/css/app-style.css" type="text/css">
</th:block>

<th:block th:fragment="header-loading">
    <link rel="stylesheet" href="/assets/css/loading.css" type="text/css">
</th:block>

<th:block th:fragment="header-boostrap-v5">
    <link href="/assets/lib/bootstrap/v5.2/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</th:block>

<th:block th:fragment="header-izitoast">
    <link href="/assets/lib/izitoast/dist/css/iziToast.css" rel="stylesheet" type="text/css">
</th:block>

<th:block th:fragment="header-sweetalert2">
    <link href="/assets/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css">
</th:block>


<th:block th:fragment="header-fontawesome">
    <link rel="stylesheet" type="text/css" href="/assets/lib/fontawesome/v6.2.0/css/all.min.css">
</th:block>

<th:block th:fragment="header-login-staff">
    <link rel="stylesheet" href="/assets/css/login-staff.css">
</th:block>
<th:block th:fragment="header-login-staff">
    <link rel="stylesheet" href="/assets/css/login-staff.css">
</th:block>

<th:block th:fragment="header-reprot-css">
    <link rel="stylesheet" href="/assets/css/report.css">
</th:block>


