<html xmlns:th="http://www.thymeleaf.org" lang="en">


<th:block th:fragment="right-sidebar">

    <nav class="be-right-sidebar">
        <div class="sb-content">
            <div class="tab-navigation">
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#tab1"
                                                                aria-controls="tab1"
                                                                role="tab" data-toggle="tab">Chat</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#tab2" aria-controls="tab2"
                                                                role="tab"
                                                                data-toggle="tab">Todo</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#tab3" aria-controls="tab3"
                                                                role="tab"
                                                                data-toggle="tab">Settings</a></li>
                </ul>
            </div>
        </div>
    </nav>

</th:block>