<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="script-jquery">
    <script src="/assets/lib/jquery/jquery.min.js" type="text/javascript"></script>
</th:block>


<th:block th:fragment="script-jquery-validate">
    <script src="/assets/lib/jquery-validate/1.19.3/jquery.validate-1.19.3.min.js"></script>
</th:block>

<th:block th:fragment="script-perfect-scrollbar">
    <script src="/assets/lib/perfect-scrollbar/js/perfect-scrollbar.min.js" type="text/javascript"></script>
</th:block>

<th:block th:fragment="script-boostrap">
    <script src="/assets/lib/bootstrap/dist/js/bootstrap.bundle.min.js" type="text/javascript"></script>
</th:block>

<th:block th:fragment="script-app">
    <script src="/assets/js/app.js" type="text/javascript"></script>
</th:block>

<th:block th:fragment="script-jquery-sparkline">
    <script src="/assets/lib/jquery.sparkline/jquery.sparkline.min.js" type="text/javascript"></script>
</th:block>

<th:block th:fragment="script-count-up">
    <script src="/assets/lib/countup/countUp.min.js" type="text/javascript"></script>
</th:block>

<th:block th:fragment="script-boostrap-v5">
    <script src="/assets/lib/bootstrap/v5.2/js/bootstrap.bundle.min.js"></script>
</th:block>

<th:block th:fragment="script-fontawesome">
    <script src="/assets/lib/fontawesome/v6.2.0/js/all.min.js"></script>
</th:block>

<th:block th:fragment="script-izitoast">
    <script src="/assets/lib/izitoast/dist/js/iziToast.min.js"></script>
</th:block>

<th:block th:fragment="script-sweetalert2">
    <script src="/assets/lib/sweetalert2/sweetalert2.min.js"></script>
</th:block>

<th:block th:fragment="script-appUtils">
    <script src="/assets/js/appUtils.js"></script>
</th:block>


<th:block th:fragment="script-datatables-net">
    <script src="/assets/lib/datatables/datatables.net/js/jquery.dataTables.js" type="text/javascript"></script>
    <script src="/assets/lib/datatables/datatables.net-bs4/js/dataTables.bootstrap4.js" type="text/javascript"></script>
    <script src="/assets/lib/datatables/datatables.net-buttons/js/dataTables.buttons.min.js"
            type="text/javascript"></script>
    <script src="/assets/lib/datatables/datatables.net-buttons/js/buttons.flash.min.js" type="text/javascript"></script>
    <script src="/assets/lib/datatables/jszip/jszip.min.js" type="text/javascript"></script>
    <script src="/assets/lib/datatables/pdfmake/pdfmake.min.js" type="text/javascript"></script>
    <script src="/assets/lib/datatables/pdfmake/vfs_fonts.js" type="text/javascript"></script>
    <script src="/assets/lib/datatables/datatables.net-buttons/js/buttons.colVis.min.js" type="text/javascript"></script>
    <script src="/assets/lib/datatables/datatables.net-buttons/js/buttons.print.min.js" type="text/javascript"></script>
    <script src="/assets/lib/datatables/datatables.net-buttons/js/buttons.html5.min.js" type="text/javascript"></script>
    <script src="/assets/lib/datatables/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"
            type="text/javascript"></script>
    <script src="/assets/lib/datatables/datatables.net-responsive/js/dataTables.responsive.min.js"
            type="text/javascript"></script>
    <script src="/assets/lib/datatables/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"
            type="text/javascript"></script>
</th:block>

<th:block th:fragment="script-flot">
    <script src="/assets/lib/jquery-flot/jquery.flot.js" type="text/javascript"></script>
    <script src="/assets/lib/jquery-flot/jquery.flot.pie.js" type="text/javascript"></script>
    <script src="/assets/lib/jquery-flot/jquery.flot.time.js" type="text/javascript"></script>
    <script src="/assets/lib/jquery-flot/jquery.flot.resize.js" type="text/javascript"></script>
    <script src="/assets/lib/jquery-flot/plugins/jquery.flot.orderBars.js" type="text/javascript"></script>
    <script src="/assets/lib/jquery-flot/plugins/curvedLines.js" type="text/javascript"></script>
    <script src="/assets/lib/jquery-flot/plugins/jquery.flot.tooltip.js" type="text/javascript"></script>
    <script src="/assets/lib/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
</th:block>

<th:block th:fragment="script-chartjs">
    <script src="/assets/lib/Chart.js/2.5.0/Chart.min.js"></script>
</th:block>


<th:block th:fragment="script-plotly">
    <script src="/assets/lib/plotly/plotly-latest.min.js"></script>
</th:block>
