<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <th:block th:replace="/cp/layout/header :: header-utils"/>
    <th:block th:replace="/cp/layout/header :: header-logo"/>
    <th:block th:replace="/cp/layout/header :: header-boostrap-v5"/>
    <th:block th:replace="/cp/layout/header :: header-fontawesome"/>
    <th:block th:replace="/cp/layout/header :: header-sweetalert2"/>
    <th:block th:replace="/cp/layout/header :: header-izitoast"/>
    <th:block th:replace="/cp/layout/header :: header-app-style"/>
    <th:block th:replace="/cp/layout/header :: header-login-staff"/>
    <th:block th:replace="/cp/layout/header :: header-loading"/>
    <title>Legend Coffee</title>
</head>

<body>
<div class="login-card-container">
    <div class="loader hide">
        <div id="loading"></div>
    </div>
    <div class="login-card">
        <div class="login-card-logo">
            <img src="/assets/img/logo-black.png"
                 alt="logo">
        </div>
        <div class="login-card-header">
            <h1>Quên mật khẩu</h1>
            <div>Vui lòng nhập đầy đủ thông tin</div>
        </div>
        <form id="frmForgetPassword" class="login-card-form">

            <div class="form-item" id="divEmailSendOTP">
                <span class="form-item-icon"><i class="fa-solid fa-user-pen"></i></span>
                <input id="emailForgetPassword" name="emailForgetPassword" type="email" placeholder="Nhập email"
                       required autofocus>
            </div>

            <button id="btnSendOTP" type="button">Nhận mã OTP</button>

            <div class="form-item" id="divEmailH1SendOTP">
                <h3 id="h3EmailSendOTP" class="text-center text-primary"></h3>
            </div>

            <div class="form-item d-none" id="divOTPSendOTP">
                <span class="form-item-icon"><i class="fa-solid fa-message"></i></span>
                <input id="otp" name="otp" type="text" placeholder="Nhập mã OTP" required/>
            </div>


            <div class="form-item d-none" id="divPasswordSendOTP">
                <span class="form-item-icon"><i class="fa-solid fa-key"></i></span>
                <input id="passwordForgetPassword" name="passwordForgetPassword" type="password"
                       placeholder="Nhập mật khẩu mới" required/>
                <span class="show-password" onclick="showPassword1()"><i class="fa-solid fa-eye"></i></span>
            </div>

            <div class="form-item d-none" id="divPasswordConfirmSendOTP">
                <span class="form-item-icon"><i class="fa-solid fa-key"></i></span>
                <input id="passwordConfirmForgetPassword" name="passwordConfirmForgetPassword" type="password"
                       placeholder="Nhập mật lại mật khẩu" required/>
                <span class="show-password" onclick="showPassword2()"><i class="fa-solid fa-eye"></i></span>
            </div>

            <button class="d-none" id="btnForgetPassword" type="button">Xác nhận</button>
        </form>
        <div class="login-card-footer">
            Bạn đã có tài khoản? <a href="/cp/login">Đăng nhập</a>.
        </div>
    </div>
</div>
</body>

<th:block th:replace="cp/layout/script :: script-jquery"/>
<th:block th:replace="cp/layout/script :: script-jquery-validate"/>
<th:block th:replace="cp/layout/script :: script-boostrap-v5"/>
<th:block th:replace="cp/layout/script :: script-fontawesome"/>
<th:block th:replace="cp/layout/script :: script-sweetalert2"/>
<th:block th:replace="cp/layout/script :: script-izitoast"/>
<th:block th:replace="cp/layout/script :: script-app"/>
<th:block th:replace="cp/layout/script :: script-appUtils"/>

<script>
    const page = {
        urls: {
            forgetPassword: AppUtils.AUTH_URL + "/forget-password",
            sendOtp: AppUtils.OTP_API + "/send-otp"
        },
        elements: {},
        commands: {},
        initializeEventControl: {}
    }

    page.elements.loader = $(".loader");

    page.elements.frmForgetPassword = $("#frmForgetPassword");
    page.elements.emailForgetPassword = $("#emailForgetPassword");
    page.elements.passwordForgetPassword = $("#passwordForgetPassword");
    page.elements.passwordConfirmForgetPassword = $("#passwordConfirmForgetPassword");
    page.elements.otp = $("#otp");
    page.elements.btnForgetPassword = $("#btnForgetPassword");
    page.elements.btnSendOTP = $("#btnSendOTP");
    page.elements.h3EmailSendOTP = $("#h3EmailSendOTP");

    page.elements.divEmailSendOTP = $("#divEmailSendOTP");
    page.elements.divEmailH1SendOTP = $("#divEmailH1SendOTP");
    page.elements.divOTPSendOTP = $("#divOTPSendOTP");
    page.elements.divPasswordSendOTP = $("#divPasswordSendOTP");
    page.elements.divPasswordConfirmSendOTP = $("#divPasswordConfirmSendOTP");


    page.commands.forgetPassword = () => {
        page.commands.showLoading();
        let user = {
            username: page.elements.emailForgetPassword.val(),
            password: page.elements.passwordForgetPassword.val(),
            passwordConfirm: page.elements.passwordConfirmForgetPassword.val(),
            otp: page.elements.otp.val()
        }
        $.ajax({

            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "POST",
            url: page.urls.forgetPassword,
            data: JSON.stringify(user)

        }).done((resp) => {

            AppUtils.SweetAlert.redirectPage("Cập nhật mật khẩu thành công!.", "<b></b>", 1000);

            setTimeout(function () {
                window.location.href = "/cp/login";
            }, 1000);

        }).fail(function (jqXHR) {

            if (jqXHR.responseJSON) {
                if (jqXHR.responseJSON.message) {
                    AppUtils.IziToast.showErrorAlertLeft(jqXHR.responseJSON.message);
                } else {
                    $.each(jqXHR.responseJSON, function (key, value) {
                        AppUtils.IziToast.showErrorAlertLeft(value);
                    });
                }
            } else {
                AppUtils.IziToast.showErrorAlertLeft("Hệ thống đang có vấn đề vui lòng thử lại sau!");
            }
        })
            .always(function () {
                page.commands.closeLoading();
            });
    }


    function showPassword1() {
        let password = document.querySelector("#passwordForgetPassword");
        password.type === "password" ? password.type = "text" : password.type = "password";
    }

    function showPassword2() {
        let password = document.querySelector("#passwordConfirmForgetPassword");
        password.type === "password" ? password.type = "text" : password.type = "password";
    }


    page.commands.sendOtp = () => {

        page.commands.showLoading();

        let email = page.elements.emailForgetPassword.val();
        if (email.trim() === "") {
            page.commands.closeLoading();
            AppUtils.IziToast.showErrorAlertLeft("Vui lòng nhập email!");
            return;
        }

        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "POST",
            url: page.urls.sendOtp,
            data: email
        }).done((resp) => {
            page.commands.closeLoading();
            AppUtils.IziToast.showSuccessAlertLeft("Gửi mã OTP thành công!");

            page.elements.divEmailSendOTP.addClass("d-none");
            page.elements.divOTPSendOTP.addClass("d-none");
            page.elements.btnSendOTP.addClass("d-none");

            page.elements.divEmailH1SendOTP.removeClass("d-none");
            page.elements.h3EmailSendOTP.text(page.elements.emailForgetPassword.val());
            page.elements.divPasswordSendOTP.removeClass("d-none");
            page.elements.divPasswordConfirmSendOTP.removeClass("d-none");
            page.elements.divOTPSendOTP.removeClass("d-none");
            page.elements.btnForgetPassword.removeClass("d-none");

        }).fail(function (jqXHR) {

            if (jqXHR.responseJSON) {
                if (jqXHR.responseJSON.message) {
                    AppUtils.IziToast.showErrorAlertLeft(jqXHR.responseJSON.message);
                } else {
                    $.each(jqXHR.responseJSON, function (key, value) {
                        AppUtils.IziToast.showErrorAlertLeft(value);
                    });
                }
            } else {
                AppUtils.IziToast.showErrorAlertLeft("Hệ thống đang có vấn đề vui lòng thử lại sau!");
            }
        })
            .always(function () {
                page.commands.closeLoading();
            })
    }

    page.commands.showLoading = () => {
        page.elements.loader.removeClass("hide");

    }

    page.commands.closeLoading = () => {
        page.elements.loader.addClass("hide");

    }

    page.commands.loadData = () => {
    }

    page.initializeEventControl = () => {

        page.elements.btnForgetPassword.on("click", () => {
            page.commands.forgetPassword();
        })

        page.elements.btnSendOTP.on("click", () => {
            page.commands.sendOtp();
        })
    }

    $(() => {
        page.commands.loadData();
        page.initializeEventControl();
    });
</script>
</html>